body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #1e4638;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  padding: 20px;
}

h1, h2 {
  color: #d8ac83;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 10px;
}
